/* Colours */
$textDarkColor: #102544;
$textLight1Color: #5c717c;
$textLight2Color: #85a0ae;
$textButtonColor: #ffffff;

$boxShadowColor: #d0e4ef;
$pageBgColor: #edf4f8;
$contentBgColor: #ffffff;

$buttonPrimaryColor: #17c873;
$buttonPrimaryActiveColor: #14b165;
$buttonSecondaryColor: #85a0ae;
$buttonDisabledColor: #c7dae4;

$inputBorderColor: #c7dae4;

/* Screen sizes */

/* Font sizes */

/* Border radius */
$contentBorderRadius: 1rem;
$inputBorderRadius: 0.5rem;
$buttonBorderRadius: 2rem;