@import '../../sass/variables';
@import '../../sass/mixins';

%card-section {
    margin: 0 0.75rem;
}

.card {
    background-color: $contentBgColor;
    display: flex;
    justify-content: space-between;
    padding: 2rem min(5vw, 2rem);
    border-radius: $contentBorderRadius;
    @include boxShadow($boxShadowColor);
    margin: 1rem 0;
    min-height: 11rem;

    &__information {
        &--date {
            @extend %card-section;
        }

        &--csomagpont {
            @extend %card-section;
            flex-basis: 18rem
        }

        &--weight {
            @extend %card-section;
            @include smallerScreen {
                display: none;
            }
        }
    }

    &__header {
        font-size: 1rem;
        color: $textDarkColor;
    }

    &__text {
        font-size: 1rem;
        color: $textLight1Color;
    }

    &__control {
        display: flex;
        min-width: 8rem;
        justify-content: space-between;
        align-items: center;

        @include smallerScreen {
            flex-direction: column-reverse;
            min-width: 0;
            margin: 1rem 0;
        }
    }
}