@import '../../../sass/variables';

.input {
    height: 2.5rem;
    border-radius: $inputBorderRadius;
    border: solid $inputBorderColor 1px;
    width: 100%;
    padding-right: 4rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: $textDarkColor;

    &:focus {
        outline: none;
    }
    
    &__container {
        width: 24rem;
        max-width: 100%;
        position: relative;
        &::before {
            content: attr(data-placeholder);
            color: $textLight2Color;
            font-size: 0.75rem;
            position: absolute;
            top: 30%;
            right: 1.25rem
        }
    }
}
