@import '../../../sass/variables';
@import '../../../sass/mixins';

.button--primary {
    background-color: $buttonPrimaryColor;
    color: $textButtonColor;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    border-radius: $buttonBorderRadius;

    &:disabled {
        background-color: $buttonDisabledColor;
    }

    &:active {
        background-color: $buttonPrimaryActiveColor;
    }

    @include smallerScreen {
        width: 100%
    }
}