@import './sass/variables';
@import './sass/mixins';

.container {
    width: clamp(16rem, 90vw, 70rem);
    margin: 0 auto
}

.header {
    margin: 1rem 2rem;
    font-size: 1.5rem;
    color: $textDarkColor;
    @include smallerScreen {
        text-align: center;
    }
}